{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'followers/follows.css' %}">
<div class="container subscription">
    <h3>Suivre d'autres utilisateurs</h3>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" value="Follow">Envoyer</button>
    </form>
    {% if error != None %}
    <p class="error">{{ error }}</p>
    {% endif %}
    <h3>Abonnements</h3>
    {% if follows|length != 0 %}
    <table>
        <th>Username</th>
        <th></th>
        {% for link in follows %}
        <tr>
            <td>{{ link.followed_user }}</td>
            <td width="40"><a href="{% url 'unfollow' link.id %}">Désabonner</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Vous n'avez pas encore d'abonnements</p>
    {% endif %}

</div>
{% endblock %}