<div class="card" style="padding: 1rem; margin: 2rem 0; border: 1px solid #000; border-radius: 4px; width: 70%;">
    <div style="display: flex; justify-content: space-between; padding: 0 0.1rem">
        <div style="margin-bottom: 2rem;">
            {%if request.user == review.ticket.user%}
            <p>Vous avez demandé une critique</p>
            {% else %}
            <p>{{ review.user }} a publié une critique</p>
            {% endif %}
        </div>
        <p>{{ review.time_created }}</p>
    </div>
    <h3>{{ review.title }}</h3>
    <a class="btn" href="{% url 'posts:create_review' review.ticket.id %}">Créer une critique</a>
    <a class="btn" href="{% url 'posts:edit_review' review.id %}">Modifier</a>
    <a class="btn" href="{% url 'posts:delete_review' review.id %}">Supprimer</a>
</div>