{% extends 'base.html' %}
{% block content %}
<div class="form form__review">
    <h2>Modifier la critique</h2>
    <form method="post" style="width: 80%;">
        {{ edit_form.as_p }}
        {% csrf_token %}
        <button class="btn" type="submit">Sauvegarder</button>
    </form>
    <hr>
    <h3>Supprimer la critique ?</h3>
    <form method="post" style="width: 80%;">
        {{ delete_form }}
        {% csrf_token %}
        <a class="btn" href="{% url 'posts:home' %}">Annnuler</a>
        <button class="btn" type="submit">Supprimer</button>
    </form>
</div>
{% endblock content %}